{% extends "base.html" %}
{% block content %}
    <div class="card my-5">
        <div class="card-header fs-4 text-center py-3">Создание прокта</div>
        <div class="card-body">
            <form action="" id="project-form" method="POST">
                {% csrf_token %}
                {% include 'todolist/partials/project_form.html' %}
            </form>
        </div>
        <div class="card-footer text-end py-3">
            <button type="submit" form="project-form" class="btn btn-sm btn-primary">Сохранить</button>
        </div>
    </div>
{% endblock %}