{% extends "base.html" %}
{% block content %}
<div class="border rounded-3 my-4 d-flex justify-content-between p-3">
    <h1>Проекты</h1>
    <a class="btn btn-sm btn-outline-primary fs-5 px-3 lh-lg" href="{% url 'create' %}">Добавить проект</a>
</div>
 <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 g-4">
    {% for project in projects %}
        <div class="col">
        <a href="{% url 'detail' project.pk %}" class="card-link">
            <div class="card card-list border-secondary h-100 mb-3">
                <div class="card-header d-flex justify-content-between">
                    <h5 class="card-title">{{ project.name }}</h5>
                    <span>{{ project.created_at| date:'Y-m-d' }}</span>
                </div>
                <div class="card-body text-secondary d-flex flex-column">
                    <p class="card-text">
                        {% if project.description %}{{ project.description|truncatewords:5 }}{% else %}---{% endif %}</p>
                </div>
                <div class="text-end me-3">
                    <a href="#" class="btn btn-outline-warning">
                        <i class="fa-regular fa-pen-to-square"></i>
                    </a>
                    <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#article-{{ article.pk }}-Modal">
                        <i class="fa-regular fa-trash-can"></i>
                    </button>
                </div>
            </div>
        </a>
        </div>
    {% empty %}
        <p>Нет проектов</p>
    {% endfor %}
</div>
{% if is_paginated %}
    {% include 'todolist/partials/pagination.html' %}
{% endif %}
{% for article in articles %}
    {% include 'todolist/partials/project_delete_modal.html' with project=project %}
{% endfor %}

{% endblock %}