{% extends "base.html" %}

{% block content %}
<div class="card my-5">
        <div class="card-header fs-4 text-center py-3">Добавление задачи</div>
        <div class="card-body">
            <form id="article-form" action="" method="POST">
                {% csrf_token %}
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="title" name="title" placeholder="Задача">
                    <label for="title">Задача</label>
                </div>
                <div class="form-floating mb-3">
                    <select class="form-select" id="status" name="status">
                    {%for k, v in status_task %}
                        <option value="{{k}}">{{v}}</option>
                        {% endfor %}
                    </select>
                    <label for="status">Статус</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="date" class="form-control" id="end_date" name="end_date" placeholder="Дата завершения">
                    <label for="end_date">Дата завершения</label>
                </div>
                <div class="form-floating mb-3">
                    <textarea class="form-control" id="description" name="description" placeholder="Подробное описание" style = "height: 200px"></textarea>
                    <label for="description">Подробное описание</label>
                </div>
            </form>
        </div>
        <div class="card-footer text-end py-3">
            <button type="submit" form="article-form" class="btn btn-sm btn-primary">Сохранить</button>
        </div>
    </div>
 {% endblock %}